<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Perfil</title>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/crear-perfil.css">
</head>

<body>

    <header id="header">

        <div class="header__logo-conteiner">
            <p class="header__logo"><span>TUP</span>erfil</p>
        </div>

        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a class="header__link" href="../index.html">Inicio</a></li>
                <li class="header__li"><a class="header__link" href="explorar.html">Explorar</a></li>
                <li class="header__li"><a class="header__link" href="crear-perfil.html">Crear</a></li>
            </ul>
        </nav>

    </header>

    <header id="headerMobile" class="headerMobile-1">

            <a class="headerMobile__icono headerMobile__icono-crear" href="crear-perfil.html">
                <iconify-icon icon="mi:user-add" width="32" height="32"></iconify-icon>
            </a>

            <a class="headerMobile__logo" href="../index.html">T</a>

            <a class="headerMobile__icono headerMobile__icono-explorar" href="explorar.html">
                <iconify-icon icon="lucide:users" width="32" height="32"></iconify-icon>
            </a>

    </header>

    <main id="main">

        <section class="main__crear">

            <h1 class="crear__titulo">Crea <span class="crear__titulo-span">TUP</span>erfil</h1>

            <form class="crear__form">

                <input class="crear__form-campo" placeholder="Nombre" type="text">

                <input class="crear__form-campo" placeholder="Apellido" type="text">

                <input class="crear__form-campo" placeholder="Correo Electrónico" type="mail">

                <div class="crear__form-fecha">

                    <select class="crear__form-campo" name=" dia" required>
                        <option value="">Día</option>
                        <option value="1">1</option>
                    </select>

                    <select class="crear__form-campo" name="mes" required>
                        <option value="">Mes</option>
                        <option value="enero">Enero</option>
                    </select>

                    <select class="crear__form-campo" name="anio" required>
                        <option value="">Año</option>
                        <option value="2005">2005</option>
                    </select>

                </div>

                <div class="crear__form-checkbox-general">

                    <div class="crear__form-checkbox-container">

                        <label>
                            <img class="crear__form-icono" src="../assets/icons/html-icono.svg" alt="icono html">
                            <input class="crear__form-checkbox" type="checkbox" name="crear__form-icono">
                        </label>

                        <label>
                            <img class="crear__form-icono" src="../assets/icons/css-icono.svg" alt="icono css">
                            <input class="crear__form-checkbox" type="checkbox" name="crear__form-icono">
                        </label>

                        <label>
                            <img class="crear__form-icono" src="../assets/icons/js-icono.svg" alt="icono js">
                            <input class="crear__form-checkbox" type="checkbox" name="crear__form-icono">
                        </label>

                    </div>

                </div>

                <label class="crear__form-label" for="">Descripción</label>
                <textarea class="crear__form-campo"></textarea>

                <label class="crear__form-label" for="">Portada</label>
                <input class="crear__form-campo" type="file">

            </form>

        </section>

    </main>

    <footer id="footer">

        <p class="footer__copy">&COPY; 2025 - Vincenti Felipe - Fazio Alejo - Gattari Khalil - Antebi Ignacio</p>

    </footer>

    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    <script src="../scripts/crear.js"></script>

</body>

</html>