<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Perfil</title>
</head>

<body>

    <header id="header">

        <div class="header__icono-conteiner">
            <p class="header__icono"><span>TUP</span>erfil</p>
        </div>

        <div class="header__links-conteiner">
            <a class="header__link" href="index.html">Inicio</a>
            <a class="header__link" href="crear-perfil.html">Crear</a>
            <a class="header__link" href="explorar.html">Explorar</a>
        </div>

    </header>

    <main id="main">

        <section class="main__crear">

            <h1 class="crear__titulo">Crea TUPerfil</h1>

            <form class="crear__form">

                <label class="crear__form-label" for="">Nombres</label>
                <input class="crear__form-campo" type="text">

                <label class="crear__form-label" for="">Apellidos</label>
                <input class="crear__form-campo" type="text">

                <label class="crear__form-label" for="">Correo Electrónico</label>
                <input class="crear__form-campo" type="mail">

                <label class="crear__form-label" for="">Nacimiento</label>
                <input class="crear__form-campo" type="date">

                <label class="crear__form-label" for="">Estudio</label>
                <input class="crear__form-campo" type="text">

                <label class="crear__form-label" for="">Descripción</label>
                <textarea class="crear__form-campo"></textarea>

                <label class="crear__form-label" for="">Portada</label>
                <input class="crear__form-campo" type="file">

            </form>

        </section> 

    </main>

    <footer id="footer">

        <p class="footer__copy">&COPY; 2025 - Vincenti Felipe - Fazio Alejo - Gattari Khalil - Antebi Ignacio</p>

    </footer>

</body>

</html>