<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Perfil</title>
</head>

<body>

    <header id="header">

        <div class="header__icono-conteiner">
            <p class="header__icono"><span>TUP</span>erfil</p>
        </div>

        <div class="header__links-conteiner">
            <a class="header__link" href="index.html">Inicio</a>
            <a class="header__link" href="crear-perfil.html">Crear</a>
            <a class="header__link" href="explorar.html">Explorar</a>
        </div>

    </header>

    <main id="main">

        <section class="main__explorar">

            <h1 class="explorar__titulo">Explorar</h1>

            <div class="explorar__contenedor">

                <div class="explorar__contenedor-perfil">
                <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                <p class="contenedor-perfil-estudio">Programador</p>
                <small class="contenedor-perfil-estado">Estudiante</small>
            </div>

            <div class="contenedor-perfil-perfil">
                <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                <p class="contenedor-perfil-estudio">UX/UI</p>
                <small class="contenedor-perfil-estado">Recibido</small>
            </div>

            <div class="contenedor-perfil-perfil">
                <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                <p class="contenedor-perfil-estudio">Programador</p>
                <small class="contenedor-perfil-estado">Recibido</small>
            </div>

            <div class="contenedor-perfil-perfil">
                <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                <p class="contenedor-perfil-estudio">Programador</p>
                <small class="contenedor-perfil-estado">Estudiante</small>
            </div>
            </div>

        </section>


    </main>

    <footer id="footer">

        <p class="footer__copy">&COPY; 2025 - Vincenti Felipe - Fazio Alejo - Gattari Khalil - Antebi Ignacio</p>

    </footer>

</body>

</html>