<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Perfil</title>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/explorar.css">
</head>

<body>

    <header id="header">

        <div class="header__logo-conteiner">
            <p class="header__logo"><span>TUP</span>erfil</p>
        </div>

        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a class="header__link" href="../index.html">Inicio</a></li>
                <li class="header__li"><a class="header__link" href="templates/explorar.html">Explorar</a></li>
                <li class="header__li"><a class="header__link" href="templates/crear-perfil.html">Crear</a></li>
            </ul>
        </nav>

    </header>

    <header id="headerMobile">

        <div class="headerMobile__contenedorIconos">
            <a class="headerMobile__icono headerMobile__icono-home" href="crear-perfil.html">
                <iconify-icon icon="mi:user-add" width="32" height="32"></iconify-icon>
            </a>

            <a class="headerMobile__logo" href="../index.html">T</a>

            <a class="headerMobile__icono headerMobile__icono-menu" href="explorar.html">
                <iconify-icon icon="lucide:users" width="32" height="32"></iconify-icon>
            </a>
        </div>

    </header>

    <main id="main">

        <section class="main__explorar">

            <h1 class="explorar__titulo">Explorar</h1>

            <div class="explorar__contenedor">

                <div class="explorar__contenedor-perfil">
                    <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <p class="contenedor-perfil-estudio">Programador</p>
                    <small class="contenedor-perfil-estado">Estudiante</small>
                </div>

                <div class="contenedor-perfil-perfil">
                    <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <p class="contenedor-perfil-estudio">UX/UI</p>
                    <small class="contenedor-perfil-estado">Recibido</small>
                </div>

                <div class="contenedor-perfil-perfil">
                    <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <p class="contenedor-perfil-estudio">Programador</p>
                    <small class="contenedor-perfil-estado">Recibido</small>
                </div>

                <div class="contenedor-perfil-perfil">
                    <img class="contenedor-perfil-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <p class="contenedor-perfil-estudio">Programador</p>
                    <small class="contenedor-perfil-estado">Estudiante</small>
                </div>
            </div>

        </section>

    </main>

    <footer id="footer">

        <p class="footer__copy">&COPY; 2025 - Vincenti Felipe - Fazio Alejo - Gattari Khalil - Antebi Ignacio</p>

    </footer>

    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    <script src="../scripts/explorar.js"></script>

</body>

</html>