
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------HEADER--------------- */

/* #header{

}

.header__icono-conteiner {
}

.header__icono {
}

.header__links-conteiner {
}

.header__link {
} */


/* ---------------MAIN--------------- */

#main{
    background-color: #eee;
}

.main__crear {

}

.crear__titulo {
    background-color: blue;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

.crear__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.crear__form-label {
    width: 200px;
    text-align: center;
}

.crear__form-campo {
     width: 250px;
     height: 25px;
}



/* ---------------MAIN--------------- */


/* #footer{

}

.footer__copy {
} */