:root {
    --color-primario: #125489;
    --color-primario-hover: #0c385b;
    --color-secundario: #fff;
    --color-negro-transparente: rgba(0, 0, 0, .6);
    --espaciado-titulos: 2rem 0;
    --color-input: #669dca;
}



/* ---------------MAIN--------------- */

#main {
    background-color: #eee;
}

.main__crear {}

.crear__titulo {
    font-size: 2rem;
    text-align: center;
    color: #000;
    padding: var(--espaciado-titulos);
}

.crear__titulo-span {
    color: var(--color-primario);
}   


.crear__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.crear__form-label {
    width: 200px;
    text-align: center;
}

.crear__form-campo {
    padding: 5px 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.crear__form-campo:focus {
    outline: none;
    background: var(--color-input);
    color: #fff;
}

.crear__form-campo:focus::placeholder {
    color: #fff;
}



/* ---------------MAIN--------------- */


/* #footer{

}

.footer__copy {
} */