    :root {
        --color-primario: #125489;
        --color-primario-hover: #0c385b;
        --color-secundario: #fff;
        --color-negro-transparente: rgba(0, 0, 0, .6);
        --espaciado-titulos: 2rem 0;
        --color-input: #669dca;
        --color-terciario-fondo: #eee;
    }

    #main {
        background-color: #eee;
        padding: 3.5rem 2rem 4rem 2rem;
    }


    .explorar__titulo {
        font-size: 7rem;
        text-align: center;
        color: #000;
        padding: var(--espaciado-titulos);
        margin-bottom: 2.5rem;

    }

    .explorar__buscar-contenedor {
        display: flex;
        background-color: var(--color-secundario);
        width: 22rem;
        gap: 1rem;
        border-radius: .5rem;
        align-items: center;
        padding-left: 1.5rem;
        height: 5.5rem;
        transition: all 0.2s;
        margin-bottom: 2rem;
    }

    .buscar__contenedor-lupa {
        width: 2.5rem;
        display: flex;
        justify-content: center;
    }

    .contenedor__input-profecion {
        height: 2.5rem;
        border: none;
        width: 13rem;
        outline: none;
    }

    .explorar__buscar-contenedor:focus-within {
        box-shadow: 0px 1px 0px 0px var(--color-input);
        transition: all 0.2s;
    }
    .explorar__contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1rem;
        margin-top: 1.5rem;
    }

    .explorar__contenedor-perfil {
        width: 100%;
        font-size: 2rem;
        overflow: hidden;
        padding-bottom: 1rem;
        border: 1px solid #ccc;
        background-color: var(--color-terciario-fondo);
        text-align: center;
        gap: 1rem;
        border-radius: .5rem;
    }

    .contenedor-perfil-img {
        width: 100%;
        padding: 1.5rem;
    }

    .explorar__folios-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1rem;
        max-width: 100%;
        overflow: hidden;
    }

    .explorar__folio {
        height: 150px;
        font-size: 2rem;
        background-color: #fff;
        padding: 1rem 2rem;
        border-radius: .5rem;
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        gap: 1.5rem;
    }

    .explorar__folio:hover {
        background-color: #ddd;
        transition: .3s;
    }

    .explorar__folio-img {
        border-radius: 100%;
    }

    .explorar__folio-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 1rem;
        align-items: center;
    }

    .explorar__folio-nombres {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }

    .explorar__folio-estudio {
        font-size: 2rem;

    }

    .explorar__folio-estado {
        background: green;
        font-size: 1.5rem;
        color: var(--color-secundario);
        padding: .3rem .8rem;
        margin: .5rem;
        border-radius: 1rem;
        display: inline-block;
    }

    .explorar__folio-estudio {
        /* background: orange; */
        font-size: 1.5rem;
        color: var(--color-primario-hover);
        font-weight: bold;
        padding: .3rem .8rem;
        margin: .5rem;
        border-radius: 1rem;
        display: inline-block;
    }