* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primario: #125489;
    --color-primario-hover: #0c385b;
    --color-secundario: #fff;
    font-size: 10px;
}

body {
    position: relative;
    overflow-x: hidden;
}

#header {
    display: none;
}

#headerMobile {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 5rem;
    bottom: 0;
    background: var(--color-primario);
    color: var(--color-secundario);
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    border-radius: .3rem .3rem 0 0;
}

.headerMobile-1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 33%;
    height: .2rem;
    background: var(--color-secundario);
}

.headerMobile-2::after {
    content: "";
    position: absolute;
    left: 33,33%;
    top: 0;
    width: 33%;
    height: .2rem;
    background: var(--color-secundario);
}

.headerMobile-3::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: .2rem;
    background: var(--color-secundario);
}

.headerMobile__icono {
    background: none;
    border: none;
    outline: none;
    color: var(--color-secundario);
    padding-top: 1rem;
}

.headerMobile__logo {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--color-secundario);
}

.headerMobile__link {
    color: var(--color-secundario);
    text-decoration: none;
}