* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primario: #125489;
    --color-primario-hover: #0c385b;
    --color-secundario: #fff;
    font-size: 10px;
}

body {
    position: relative;
    overflow-x: hidden;
}

#header {
    display: none;
}

#headerMobile {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 5rem;
    top: calc(100vh - 5em);
}

.headerMobile__contenedorIconos {
    background: var(--color-primario);
    color: var(--color-secundario);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    border-radius: .3rem .3rem 0 0;
}

.headerMobile__icono {
    background: none;
    border: none;
    outline: none;
    color: var(--color-secundario);
}

.headerMobile__logo {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--color-secundario);
}

.headerMobile__link {
    color: var(--color-secundario);
    text-decoration: none;
}