:root {
    --color-primario: #125489;
    --color-primario-hover: #0c385b;
    --color-secundario: #fff;
    --color-negro-transparente: rgba(0, 0, 0, .6);
    --espaciado-titulos: 2rem 0;
}




#main {
    padding: 10px;
}

.main__principal {
    margin-bottom: 50px;
    text-align: center;
}

.principal__titulo {
    color: #000;  
    font-size: 4rem;
    padding: var(--espaciado-titulos);
}

.principal__titulo-span {
    color: var(--color-primario);
}